/*Kursori! by Ronja*/
* {
    cursor: url('../kuvat_yht/happy-niilo32.png') 15 15, auto;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: whitesmoke;
    font-family: "Comic Sans MS", cursive;

}

 /*Header & nav + bootstrap by Unna*/

.header{
    height: 80px;
    background-color: #CDB4DB;
    border-bottom: 15px;
    background-image: url(../kuvat_yht/niilo-nalle.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}


.navbar {
    background-color: #FFC8DD;
    border-radius: 0px 0px 15px 15px;
    font-family: "Comic Sans MS", cursive;
    text-align: center;
}

.navbar .nav-link {
    border-radius: 15PX 50PX;
    width: auto;
}

.nav-link:hover, .nav-link.active {
    background-color: #FFAFCC;
    border-radius: 15PX 50PX;
    background-image: url(../kuvat_yht/happy-niilo.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
}

/* main by Mikko */
.main{
    flex: 1;
    border: solid 3px #666;
    margin: 10px;
    text-align: center;
}

.main h3{
    background-color: #CDB4DB;
    border: solid 3px #333;
}


.footer {
    padding: 8px;
    text-align: center;
    background-color: #FFC8DD;
    border-radius: 10px 0px;
}

/*infosivun tyyliä alhaalla by Joni*/


.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5px;
    border: solid 3px #333;
    border-radius: 10px 0px;
    margin: 10px;
    font-family: "Comic Sans MS", cursive;
}


.joni {
    padding: 10px;
    border: solid 3px #333;
    border-radius: 10px 0px;
    margin: 10px;
    width: 500px;
    height: 500px;
}

.mikko {
    padding: 10px;
    border: solid 3px #333;
    border-radius: 10px 0px;
    margin: 10px;
    width: 500px;
    height: 500px;
}

.tommi {
    padding: 10px;
    border: solid 3px #333;
    border-radius: 10px 0px;
    margin: 10px;
    width: 500px;
    height: 500px;
}

.unna {
    padding: 10px;
    border: solid 3px #333;
    background-color: #FFAFCC;
    border-radius: 10px 0px;
    margin: 10px;
    width: 500px;
    height: 500px;
}

.ronja {
    padding: 10px;
    border: solid 3px #333;
    background-color: #BDE0FE;
    border-radius: 10px 0px;
    margin: 10px;
    width: 500px;
    height: 500px;
}

/* Etusivun css by Mikko */
/* etusivu css */
.tervehdys {
    display: flex;
    align-items: center;
    background-color: #CDB4DB;
}

/* etusivu containerin css */
.etusivu-container {
    display: flex;
    flex-direction: row-reverse;
    text-align: center;
    margin: 3%;
}

/* tekstilaatikon puolen css */
.column-vasen {
    flex: 2;
    padding: 20px;
    margin: 2%;
    font-family: "Comic Sans MS", cursive;
}

/* otsikon css */
.column-vasen h3{
    width: 100%;
    border-radius: 15px;
    background-color: #FFC8DD;
    padding: 3%;
}

/* tekstin css */
.column-vasen p{
    padding: 5px;
}

/* kuvan puolen css */
.column-oikea {
    flex: 1;
    margin: 1%;
    align-items: center;
}

/* kuvan css */
.kuva-niilo {
    max-width: 50vw;
    height: auto; 
}

/* Kooste */

.kooste-main {
    text-align: center;
    font-family: "Comic Sans MS", cursive;
    background-color: #BDE0FE;
    border-radius: 15px;
    margin: 20px;
}
 .nallukka {
    height: 400px;
    position: absolute;
    margin-left: 10px;
 }