body {
    display: flexbox;
    font-family: "Comic Sans MS", cursive;
    background-color: #CDB4DB;
    margin: 0;
    padding: 0;
}

 /* Header & nav + bootstrap */

 .header{
    height: 80px;
    background-color: #CDB4DB;
    border-bottom: 15px;
    background-image: url(../kuvat_plus/niilo-nalle.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.navbar {
    background-color: #FFC8DD;
    border-radius: 0px 0px 15px 15px;
    font-family: "Comic Sans MS", cursive;
    text-align: center;
}

.navbar .nav-link {
    border-radius: 15PX 50PX;
    width: auto;
}

.nav-link:hover, .nav-link.active {
    background-color: #FFAFCC;
    border-radius: 15PX 50PX;
    background-image: url(../kuvat_yht/happy-niilo.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
}

/* kursori */
* {
    cursor: url('../kuvat_plus/happy-niilo32.png') 15 15, auto;
}



/*sivun esittely*/
#esittely{
    display: flex;
    justify-content: center; /* vaaka */
    align-items: center; /* pysty */
    padding: 1%;
    margin-top: 3px;
    text-align: center;
    border-radius: 14px;
    background-color: #FFC8DD;
    font-weight: bold;
    font-size: 20px;
}

#esittely img{
    width: 60px;
    height: auto;
}

/* vaikeustasonappien css*/
#vaikeustaso{
    display: flex;
    justify-content: center; /* vaaka */
    align-items: center; /* pysty */
}

#taso-helppo,#taso-keskitaso,#taso-vaikea{
    width: 150px;
    height: auto;
    font-size: 12px;
    padding: 10px;
    border-radius: 14px;
    margin: 1.5%;
    background-color:#FFC8DD;
    cursor: url(../kuvat_plus/happy-niilo32.png) 15 15, auto !important
}

#vaikeustaso button:hover{
    font-weight: bold;
    background-color: #FFAFCC
}

/* tulos */
#currentScore{
    text-align: center;
    padding: 3px;
    font-size: 20px;
}

/* lauseke */
#lauseke{
    text-align: center;
    font-size: 20px;
    padding: 10px;
    background-color: #FFC8DD;
    border-bottom: solid 4px #CDB4DB;
    border-radius: 10px;
    font-weight: bold;
}

/* vastausnapit */
#nappi-div{
    padding: 5px;
    border-radius: 10px;
    text-align: center;
    background-color: #FFC8DD;
}

#nappi-div button:hover {
    font-weight: bold;
    background-color: #FFC8DD
  }

#btn1,#btn2,#btn3,#btn4{
    width: 97.4px;
    height: 66.1px;
    cursor: url(../kuvat_plus/happy-niilo32.png) 15 15, auto !important

}

#btn1 img,#btn2 img,#btn3 img,#btn4 img{
    width: 100%;
    height: 100%;
}

/* pelaa  */
#pelaa-nappi{
    text-align: center;
    margin: 1%;
    cursor: url(../kuvat_plus/happy-niilo32.png) 15 15, auto !important
}

#pelaa-nappi button:hover{
    font-weight: bold;
    background-color: #FFAFCC
}

#startBtn{
    width: fit-content;
    height: auto;
    font-size: 30px;
    border-radius: 14px;
    background-color: #FFC8DD;
    cursor: url(../kuvat_plus/happy-niilo32.png) 15 15, auto !important

}

/* pelin aloitus ohje */
#ohje{
    text-align: center;
}

/* aika */
#timeDisplay{
    text-align: center;
    border-radius: 14px;
    font-size: 22px;
    padding: 5px;
    background-color: #FFC8DD;
    font-weight: bold;
}

/*paras tulos*/
#highscore1, #highscore2, #highscore3{
    text-align: center;
    font-size: 20px;
    padding: 16px
}

/* footer */
.footer {
    padding: 8px;
    text-align: center;
    background-color: #FFC8DD;
    border-radius: 10px 0px;
}

/* puhelimia varten */
@media only screen and (max-width: 768px){
    #taso-helppo,#taso-keskitaso,#taso-vaikea{
        width: 100%;
    }
}