/*Ronjan tekemä kursori*/
* {
    cursor: url('../yhteiset/kuvat_yht/happy-niilo32.png') 15 15, auto;
}
.button:hover {
    cursor: url('../yhteiset/kuvat_yht/happy-niilo32.png') 15 15, auto;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: "Comic Sans MS", cursive;
}

 /*Header & nav + bootstrap (Unna)*/

.header{
    height: 80px;
    background-color: #CDB4DB;
    border-bottom: 15px;
    background-image: url(../yhteiset/kuvat_yht/niilo-nalle.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}


.navbar {
    background-color: #FFC8DD;
    border-radius: 0px 0px 15px 15px;
    font-family: "Comic Sans MS", cursive;
    text-align: center;
}

.navbar .nav-link {
    border-radius: 15PX 50PX;
    width: auto;
}

.nav-link:hover, .nav-link.active {
    background-color: #FFAFCC;
    border-radius: 15PX 50PX;
    background-image: url(../yhteiset/kuvat_yht/happy-niilo.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
}

.level-button {
    display: inline-block;
    background-color: #A2D2FF;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin: 10px;
    font-family: "Comic Sans MS", cursive;
    cursor: url('../yhteiset/kuvat_yht/happy-niilo32.png') 15 15, auto;
}

.level-button:hover,
.level-button:focus,
.level-button:active,
.level-button:active {
    background-color: #A2D2FF;
    cursor: url('../yhteiset/kuvat_yht/happy-niilo32.png') 15 15, auto !important;
}
                                                                     
.valikko{
    text-align: center;
    font-family: "Comic Sans MS", cursive;
    flex-direction: column;
    margin: 50px;
    min-height: 100vh;
    background-image: url(../yhteiset/kuvat_yht/niilo-nalle_cut.png);
    background-repeat: no-repeat;
    background-size: 350px;
    background-position: calc(20%) ;
}

/*Kokeet*/
.level1, .level2, .level3 {
    background-color: #CDB4DB;
    min-height: 100vh;
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 50px 50px;
    text-align: center;
    font-family: "Comic Sans MS", cursive;
    flex-direction: column;
}

/*Napit*/
.custom-color {
    background-color: #FFAFCC;
    border-radius: 15px;
    color: #333;
    margin-bottom: 20px;
}

.custom-color:hover,
.custom-color:focus,
.custom-color:active,
.custom-color:active {
    background-color: #A2D2FF;
    cursor: url('../yhteiset/kuvat_yht/happy-niilo32.png') 15 15, auto !important;
}

.takaisin {
    background-color: #CDB4DB;
    border-radius: 15px;
    text-align: center;
    font-family: "Comic Sans MS", cursive;
    flex-direction: column;
}

.takaisin:hover,
.takaisin:focus,
.takaisin:active,
.takaisin:active {
    background-color: #A2D2FF;
    cursor: url('../yhteiset/kuvat_yht/happy-niilo32.png') 15 15, auto !important;
}

.footer {
    padding: 8px;
    text-align: center;
    background-color: #FFC8DD;
    border-radius: 10px 0px;
}