/*Ronjan tekemä kursori*/
* {
    cursor: url('../yhteiset/kuvat_yht/happy-niilo32.png') 15 15, auto;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 150vh;
    font-family: "Comic Sans MS", cursive;
}

 /*Header & nav + bootstrap by Unna*/

.header{
    height: 80px;
    background-color: #CDB4DB;
    border-bottom: 15px;
    background-image: url(../yhteiset/kuvat_yht/niilo-nalle.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}


.navbar {
    background-color: #FFC8DD;
    border-radius: 0px 0px 15px 15px;
    font-family: "Comic Sans MS", cursive;
    text-align: center;
}

.navbar .nav-link {
    border-radius: 15PX 50PX;
    width: auto;
}

.nav-link:hover, .nav-link.active {
    background-color: #FFAFCC;
    border-radius: 15PX 50PX;
    background-image: url(../yhteiset/kuvat_yht/happy-niilo.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
}


.level-buttons {
    text-align: center;
    margin-top: 20px;
}

.level-button {
    background-color: pink;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin: 0 10px;
    cursor: pointer;
}


/*tentti*/

.main{
    text-align: center;
    font-family: "Comic Sans MS", cursive;
    margin: 50px;
    min-height: 150vh;
    font-family: "Comic Sans MS", cursive;
    text-align: center;
}
/*Vaikeustaso 1*/

.footer {
    padding: 8px;
    text-align: center;
    background-color: #FFC8DD;
    border-radius: 10px 0px;
}