body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: whitesmoke;
    font-family: "Comic Sans MS", cursive;

}

.header, h1{
    padding: 20px;
    text-align: center;
    background-color: #CDB4DB;
    font-family: "Comic Sans MS", cursive;
    font-size: 40px;
}

.navbar {
    display: flex;
}

.navbar ul {
    list-style-type: none;
    width: 100%;
    border-radius: 0px 10px;
    padding: 10px;
    background-color: #FFC8DD;
}

.navbar li {
    display: inline-block;
}

.navbar li a {
    font-family: "Comic Sans MS", cursive;
    font-size: 15px;
    display: inline-block;
    color: #333;
    text-decoration: none;
    padding: 0.5em 1em;
}

.navbar * {
    margin: 0;
    padding: 0;
}

.navbar li a:hover {
    background-color: #FFAFCC;
    font-weight: bold;
    border-radius: 15PX 50PX;
}

.main{
    flex: 1;
}

.footer {
    padding: 10px;
    text-align: center;
    background-color: #FFC8DD;
    border-radius: 10px 0px;
}

div.main {
    border: #333;
}

/*Kursori! by Ronja*/
* {
    cursor: url('../yhteiset/kuvat_yht/happy-niilo32.png') 15 15, auto;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: whitesmoke;
    font-family: "Comic Sans MS", cursive;

}

 /*Header & nav + bootstrap by Unna*/

.header{
    height: 80px;
    background-color: #CDB4DB;
    border-bottom: 15px;
    background-image: url(../yhteiset/kuvat_yht/niilo-nalle.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}


.navbar {
    background-color: #FFC8DD;
    border-radius: 0px 0px 15px 15px;
    font-family: "Comic Sans MS", cursive;
    text-align: center;
}

.navbar .nav-link {
    border-radius: 15PX 50PX;
    width: auto;
}

.nav-link:hover, .nav-link.active {
    background-color: #FFAFCC;
    border-radius: 15PX 50PX;
    background-image: url(../yhteiset/kuvat_yht/happy-niilo.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
}